<div class="content">
  <h3>Maps</h3>
</div>

<!--Filter-->
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>
          <div class="control">
              <input class="input is-hovered" type="text" placeholder="ID" [(ngModel)]="searchModel.id">
            </div>
      </th>
      <th>
          <div class="select">
              <select [(ngModel)]="searchModel.ocorrencyId">
                  <option value="0">All</option>
                  <option *ngFor="let ocorrency of ocorrencies; let i = index" [value]=ocorrency.id>{{ocorrency.name}}</option>
              </select>
          </div>
      </th>
      <th>
          <div class="select">
              <select [(ngModel)]="searchModel.ocorrencyDetailId">
                  <option value="0">All</option>
                  <option *ngFor="let detail of details; let i = index" [value]=detail.id>{{detail.description}}</option>
              </select>
          </div>
      </th>
      <th>
          <div class="select">
              <select [(ngModel)]="searchModel.orderStatusId">
                  <option value="0">All</option>
                  <option *ngFor="let status of statuses; let i = index" [value]=status.id>{{status.name}}</option>
              </select>
          </div>
      </th>
      <th>
        <div class="control">
            <input class="input is-hovered" type="date" [(ngModel)]="searchModel.startDate">
        </div>
      </th>
      <th>
        <div class="control">
            <input class="input is-hovered" type="date" [(ngModel)]="searchModel.endDate">
        </div>
      </th>
      <th>
          <div class="buttons">
              <button class="button is-info" (click)="filterData()">Filter</button>
          </div>
      </th>

    </tr>
  </thead>
</table>

<!--Map--> 
<agm-map class="map" [latitude]="map.latitude" [longitude]="map.longitude" [zoom]="map.zoom">
  <agm-marker *ngFor="let mp of maps; let i = index" 
    [latitude]="mp.latitude" 
    [longitude]="mp.longitude"
    [label]="mp.id">
    <agm-info-window>
      <p><strong>Id: </strong>{{mp.id}}</p>
      <p><strong>Ocorrency: </strong>{{mp.ocorrency}}</p>
      <p><strong>Detail: </strong>{{mp.ocorrencyDetail}}</p>
      <p><strong>Status: </strong>{{mp.orderStatus}}</p>
      <p><strong>Date: </strong>{{mp.createdAt}}</p>
      <p><strong>Date: </strong>{{mp.createdAt}}</p>
      <img class="icon-list" src="../../assets/img/edit.png" (click)="editData(mp.id)">
    </agm-info-window>
  </agm-marker>
</agm-map>

<!-- Modal -->
<div class="modal" [ngClass]="{'show': modal, 'none': !modal}">
  <div class="modal-background"></div>
  <div class="modal-card">    
    <header class="modal-card-head">
      <p class="modal-card-title"></p>
      <button class="delete" aria-label="close" (click)="closeData()"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Latitude</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input is-static" type="text" readonly value="{{order.latitude}}" >
              </p>
            </div>
          </div>
      </div>
      
      <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Longitude</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input is-static" type="text" readonly value="{{order.longitude}}">
              </p>
            </div>
          </div>
      </div>

      <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Ocorrency</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control" *ngIf="readonly; else editableOcorrency">
                <input class="input is-static" type="text" readonly value="{{order.ocorrency.name}}">
              </p>
              <ng-template #editableOcorrency>
              <div class="select">
                <select [(ngModel)]="ddlOcorrencyIndex">
                    <option *ngFor="let ocorrency of ocorrencies; let i = index" [ngValue]=ocorrency.id 
                    [attr.selected]="ocorrency.id == order.ocorrency.id ? true : null">{{ocorrency.name}}</option>
                </select>
              </div>
            </ng-template>
            </div>
          </div>
      </div>

      <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Ocorrency Detail</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control" *ngIf="readonly; else editableDetail">
                <input class="input is-static" type="text" readonly value="{{order.ocorrencyDetail.description}}">
              </p>
              <ng-template #editableDetail>
              <div class="select">
                <select [(ngModel)]="ddlDetailIndex">
                    <option *ngFor="let detail of details; let i = index" [ngValue]=detail.id
                    [attr.selected]="detail.id == order.ocorrencyDetail.id ? true : null">{{detail.description}}</option>
                </select>
              </div>
            </ng-template>
            </div>
          </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Status</label>
        </div>
        <div class="field-body">
          <div class="field">
            <p class="control" *ngIf="readonly; else editableStatus">
              <input class="input is-static" type="text" readonly value="{{order.orderStatus.name}}">
            </p>
            <ng-template #editableStatus>
            <div class="select">
              <select [(ngModel)]="ddlStatusIndex">
                  <option *ngFor="let status of statuses; let i = index" [ngValue]=status.id
                  [attr.selected]="status.id == order.orderStatus.id ? true : null">{{status.name}}</option>
              </select>
            </div>
            </ng-template>
          </div>
        </div>
      </div>
      
      <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">Created at</label>
        </div>
        <div class="field-body">
            <div class="field">
            <p class="control">
                <input class="input is-static" type="text" readonly value="{{order.createdAt}}">
            </p>
            </div>
        </div>
      </div>
      <!---->
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" (click)="putData()" *ngIf="!readonly">Save changes</button>
      <button class="button" (click)="closeData()">Cancel</button>
    </footer>
  </div>
</div>

<!-- Alert -->
<div class="notification" [ngClass]="{'show': alert, 'none': !alert, 'is-success': order.callbackSuccess, 'is-warning': !order.callbackSuccess}">
  {{order.callbackMessage}}
</div>