<div class="content">
    <h3>Contacts</h3>
    <table class="table is-hoverable is-fullwidth">
        <thead>
        <tr>
            <th><abbr title="Position">ID</abbr></th>
            <th>E-mail</th>
            <th><abbr title="Played">Subject</abbr></th>
            <th><abbr title="Won">Message</abbr></th>
            <th><abbr title="Drawn">Date</abbr></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th><abbr title="Position">ID</abbr></th>
            <th>E-mail</th>
            <th><abbr title="Played">Subject</abbr></th>
            <th><abbr title="Won">Message</abbr></th>
            <th><abbr title="Drawn">Date</abbr></th>
        </tr>
        </tfoot>
        <tbody>
        <tr *ngFor="let contact of contacts; let num = index">
            <th>{{contact.id}}</th>
            <td>{{contact.email}}</td>
            <td>{{contact.subject}}</td>
            <td>{{contact.message}}</td>
            <td>{{contact.createdAt}}</td>
        </tr>      
        </tbody>
    </table>
</div>