<nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">      
        <span class="navbar-item">
            <img src="assets/img/logo_reverse.png" width="35">
        </span>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item is-active">
          Inicial
        </a>
        <a class="navbar-item" routerLink="/map">
          Mapa
        </a>
        <a class="navbar-item">
          Pesquisa
        </a>
        <span class="navbar-item">
          Relatório
        </span>  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Mais
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              Sobre
            </a>
            <a class="navbar-item">
              Contato
            </a>
          </div>
        </div>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-light">
              Sair
            </a>
          </div>
        </div>
      </div>
      
    </div>
  </nav>