<div class="tile is-ancestor">
  <div class="tile is-horizontal"> 
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Graph 1 fixed</p>
            <p>Lorem.</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Graph 2 fixed</p>
            <p>Loren.</p>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Graph 3 fixed</p>
            <p>Lorem.</p>
      </article>
    </div>
  </div>
</div>

<div class="tile is-ancestor"> 
  <div class="tile is-vertical is-8">    
    <div class="tile is-parent" *ngFor="let new of news; let num = index">
      <article class="tile is-child box">
        <div class="title" [innerHTML]=new.title></div>
        <div [innerHTML]=new.description></div>
      </article>
    </div>
  </div>

  <div class="tile is-vertical is-4"> 
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Last incomes</p>
        <ul>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
        </ul>

        <p class="title">Last updates</p>
        <ul>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
        </ul>
      </article>
    </div>
  </div> 
</div>