<!--Charts-->
<div class="tile is-ancestor">
  <div class="tile is-horizontal"> 
    <div class="tile is-parent">
      <article class="tile is-child box">
        <!--Chart one-->
        <div echarts [options]="optionsChartOne" class="demo-chart">
        </div>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <!-- Chart two-->
        <echarts [initOpts]="initOpts" [options]="optionsChartTwo"></echarts>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <!-- Chart three-->
        <div echarts [options]="optionsChartThree" [loading]="isLoading" theme="macarons" class="demo-chart"></div>
      </article>
    </div>
  </div>
</div>

<!--News-->
<div class="tile is-ancestor"> 
  <div class="tile is-vertical is-8">    
    <div class="tile is-parent" *ngFor="let new of news; let num = index">
      <article class="tile is-child box">
        <div class="title" [innerHTML]=new.title></div>
        <div [innerHTML]=new.description></div>
      </article>
    </div>
  </div>

  <div class="tile is-vertical is-4"> 
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Last incomes</p>
        <ul *ngFor="let order of report.lastIncomes; let num = index">
          <li>Order {{order.id}} | {{order.ocorrency.name}} | {{order.ocorrencyDetail.description}}</li>
        </ul>
        <br>
        <p class="title">Last updates</p>
        <ul *ngFor="let order of report.lastUpdates; let num = index">
          <li>Order {{order.id}} | {{order.ocorrency.name}} | {{order.ocorrencyDetail.description}}</li>
        </ul>
      </article>
    </div>
  </div> 
</div>